<div class="card">

  <div id="advice-id">
    <p>Advice #{{this.id}}</p>
  </div>

  <div id="advice-text">
    <p>{{this.advice}}</p>
  </div>
  <div>
    <img id="line" src="../assets/pattern-divider-desktop.svg" alt="">
  </div>
</div>

<div id="dice">
  <img src="../assets/icon-dice.svg" alt="" (click)="getInfo()">
</div>

<footer>
  <div class="attribution">
    Challenge by <a rel="noopener" href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend
      Mentor</a>.
    Coded by <a href="#">Maria Pittà</a>.
  </div>
</footer>